# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
DerivedData/
Package.resolved

# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcuserstate

# Build Artifacts
build/
*.app
*.dmg
*.ipa
*.pkg

# Project Specific
*.swp
*.log
.DS_Store
*.mode1v3
*.mode2v3
*.perspectivev3

